<section class="">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Edit Category</h2>
          <form id="form">
            <label for="editCategoryname">Category Name</label>
            <input type="text" name="editCategoryname"  class="form-control" value="<%=response.CategoryName %>" id="category" oninput="this.value = this.value.toUpperCase()" style="text-transform: uppercase;"/>
            <p id="error1" class="text-danger"></p>
            <label for="editCategoryoffer">Add an offer</label>
            <input type="number" name="editCategoryoffer" id="sub-category" class="form-control" value="<%=response.categoryOfferpercentage%>"/>
            
            <button onclick="editCategory('<%=response._id %>')">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    
    h1 {
      text-align: center;
    }
    
    form {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
  </style>
  
  <script>


  // function validate() {
  // const category = document.getElementById('category');
  // const error1 = category.parentElement.querySelector('p');

  // error1.innerText = '';

//   let flag = 1;
//   const categoryValue = category.value.trim();

//   if (categoryValue === '') {
//     error1.innerText = 'Category Name is required';
//     flag = 2;
//  } else if (categoryValue.length > 15) {
//   error1.innerText = 'Category should not exceed 15 characters';
//   flag = 2;
// } else if (categoryValue.length < 2) {
//   error1.innerText = 'Enter a valid Category Name';
//   flag = 2;
// }






//   if (flag === 1) {
//     // Call the editCategory function with the necessary argument(s)
//     function editCategory(categoryId);
//     console.log('Validation successful');
//   }
// }




    function editCategory(categoryId) {
    
      // Add your code for editing the category here
      $.ajax({
        url: `/admin/editCategory/${categoryId}`,
        method: 'POST',
        data: $('#form').serialize(),
        success: function(response) {
          console.log(response);
          location.href='/admin/viewCategory'
          // Handle the response from the server
        },
        error: function(error) {
          console.log(error);
          // Handle any errors that occur during the AJAX request
        }
      });
    }
  </script>
  