<main class="main">
<section class="mt-50 mb-50">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="row product-grid-3">
            <% shop.forEach(function(shop) { %>

            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="shop-product-right.html">
                      <img class="default-img" src="frontEnd/imgs/shop/product-2-1.jpg" alt="">
                      <img class="hover-img" src="frontEnd/imgs/shop/product-2-2.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-action-1">
                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                      <i class="fi-rs-search"></i></a>
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                  </div>
                  <div class="product-badges product-badges-position product-badges-mrg">
                   
                  </div>
                </div>


                
                    <div class="product-content-wrap">
                        <div class="product-category">
                            <a href="shop-grid-right.html"><%=shop.category%></a>
                        </div>
                        <h2><a href="shop-product-right.html"><%=shop.productName%></a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                                <span>95%</span>
                            </span>
                        </div>
                        <div class="product-price">

                            <span class="old-price"><%=shop.category%></span>
                        </div>
                        <div class="product-price">

                            <span class="old-price">$<%=shop.Price%></span>
                        </div>
                        <!-- <div class="product-action-1 show">
                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                        </div> -->
                    </div>
                


              </div>
              </div>
              <% }); %>
            </div>
            <!--pagination-->
            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item active"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">16</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
  